<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="50 50 300 300">
    <defs>
        <symbol id="e">
            <ellipse cx="200" cy="200" rx="33" ry="88" fill="none" stroke="inherit" stroke-color="black"/>
        </symbol>
    </defs>

    <use id="orbit-1" xlink:href="#e" />
    <use id="orbit-2" xlink:href="#e" transform="rotate(60 200 200)" />
    <use id="orbit-3" xlink:href="#e" transform="rotate(120 200 200)" />

    <use id="electron-1" xlink:href="#e" />
    <use id="electron-2" xlink:href="#e" transform="rotate(60 200 200)" />
    <use id="electron-3" xlink:href="#e" transform="rotate(120 200 200)" />

    <circle id="nucleus" fill="#000" cx="200" cy="200" r="8"/>
</svg>
